In [1]:
import pandas as pd

In [25]:

COVenta = pd.read_excel('consultora colombia.xlsx')
CLVenta = pd.read_excel('consultora chile.xlsx')

Pedido = pd.read_csv('Somos Belcorp - Pedido.csv')
Contenedor = pd.read_excel('Somos Belcorp - Contenedor.xlsx')
Showroom = pd.read_excel('Somos Belcorp - Showroom.xlsx')
Logs = pd.read_csv('Logs Somos Belcorp C05.csv', sep = ';')

In [26]:
for i in [CLVenta,COVenta, Pedido, Contenedor,Showroom,Logs]:
    print(i.head())

   CodEbelista DesMedio     DesZona       DesSeccion   DesPopup  \
0          293   Mobile     General   Oferta del Día      Popup
1          293   Mobile  RD Landing  Revista Digital      Popup
2          431  Desktop      Pedido     Oferta Final  Sin PopUp
3          764  Desktop      Pedido   Oferta del Día      Popup
4         1017  Desktop      Pedido     Oferta Final  Sin PopUp

   RealVtaDolNeto
0       77.804321
1      165.221684
2        2.905418
3       20.857462
4       24.692747
   CodEbelista DesMedio         DesZona       DesSeccion   DesPopup  \
0   9900000043  Desktop  Landing Compra         Showroom      Ficha
1   9900000287  Desktop  Landing Compra         Showroom      Ficha
2   9900000326  Desktop          Pedido              OPM    Sección
3   9900000355  Desktop    Product Page         Showroom      Ficha
4   9900000368  Desktop          Pedido  Ofertas para ti  Sin PopUp

   RealVtaDolNeto
0       10.894794
1       54.298294
2       12.371185
3        7.824309
4       15.058343
  Pais Código Consultora     Fecha  Número de páginas vistas únicas
0   PE         038833359  20180321                              157
1   EC           3655067  20180313                              134
2   PE         042844942  20180321                              110
3   CR           2737078  20180322                               95
4   PE         028692072  20180306                               91
  Pais Codigo_Consultora     Fecha  Número_paginas_vistas_unicas
0   PE          11871852  20180314                            27
1   PE          37816272  20180312                            21
2   CL            694645  20180220                            20
3   PE          39865289  20180309                            19
4   CL            751331  20180317                            18
  Pais Codigo_Consultora     Fecha  Nro_de_pags_vistas_unicas
0   PR            227820  20180322                         43
1   PR              6133  20180323                         28
2   PR             89490  20180402                         23
3   CO        9906639685  20180305                         22
4   PR              4344  20180319                         20
   Campaña Pais  Código Consultora     Fecha  Sesiones
0   201805   CO         9906767143  20180328         1
1   201805   CO         9906767137  20180328         1
2   201805   CO         9906767089  20180328         1
3   201805   CO         9906766995  20180328         1
4   201805   CO         9906766995  20180402         1

In [27]:
import numpy as np
pd.DataFrame(CLContenedor.dtypes, columns = ['Tipo de dato'])

#CLVenta['CodEbelista'] = CLVenta['CodEbelista'].astype(np.int32)

#print(CLVenta.head())
#print(CLContenedor.head())

                             Tipo de dato
Pais                               object
Codigo_Consultora                   int64
Fecha                               int64
Número_paginas_vistas_unicas        int64

# CHILE

In [28]:

CLPedido = Pedido[(Pedido.Pais == 'CL')]
CLContenedor = Contenedor[(Contenedor.Pais == 'CL')]
CLShowroom =  Showroom[(Showroom.Pais == 'CL')]
CLLogs = Logs[(Logs.Pais == 'CL')]

CLPedido = CLPedido.drop(CLPedido[CLPedido['Código Consultora'] == '(not available)'].index)
CLPedido['Código Consultora']= CLPedido['Código Consultora'].astype(str).astype(int)

CLContenedor = CLContenedor.drop(CLContenedor[CLContenedor['Codigo_Consultora'] == '(not available)'].index)
CLContenedor['Codigo_Consultora']= CLContenedor['Codigo_Consultora'].astype(str).astype(int)



CLShowroom = CLShowroom.drop(CLShowroom[CLShowroom['Codigo_Consultora'] == '(not available)'].index)
#CLVenta

In [30]:
CLVenta.head()

,CodEbelista,DesMedio,DesZona,DesSeccion,DesPopup,RealVtaDolNeto
0,293,Mobile,General,Oferta del Día,Popup,77.804321
1,293,Mobile,RD Landing,Revista Digital,Popup,165.221684
2,431,Desktop,Pedido,Oferta Final,Sin PopUp,2.905418
3,764,Desktop,Pedido,Oferta del Día,Popup,20.857462
4,1017,Desktop,Pedido,Oferta Final,Sin PopUp,24.692747

In [17]:
cont_pedido = CLContenedor.merge(CLPedido, left_on='Codigo_Consultora', right_on='Código Consultora', how='inner')

In [19]:
cont_pedido.merge(CLShowroom, left_on='Codigo_Consultora', right_on='Codigo_Consultora', how='inner')

cont_pedido_sr = cont_pedido.merge(CLShowroom, left_on='Codigo_Consultora', right_on='Codigo_Consultora', how='inner')

In [21]:
cont_pedido_sr_logs = cont_pedido_sr.merge(CLLogs, left_on='Codigo_Consultora', right_on='Código Consultora', how='inner')

In [33]:
cont_pedido_sr_logs.head()

,Pais_x,Codigo_Consultora,Fecha_x,Número_paginas_vistas_unicas,Pais_y,Código Consultora_x,Fecha_y,Número de páginas vistas únicas,Pais_x,Fecha_x,Nro_de_pags_vistas_unicas,Campaña,Pais_y,Código Consultora_y,Fecha_y,Sesiones
0,CL,747472,20180224,11,CL,747472,20180315,9,CL,20180223,1,201805,CL,747472,20180224,5
1,CL,747472,20180224,11,CL,747472,20180315,9,CL,20180223,1,201805,CL,747472,20180315,5
2,CL,747472,20180224,11,CL,747472,20180315,9,CL,20180223,1,201805,CL,747472,20180227,3
3,CL,747472,20180224,11,CL,747472,20180315,9,CL,20180223,1,201805,CL,747472,20180228,3
4,CL,747472,20180224,11,CL,747472,20180315,9,CL,20180223,1,201805,CL,747472,20180303,3

In [34]:
cont_pedido_sr_logs

maestro = cont_pedido_sr_logs.merge(CLVenta, left_on='Codigo_Consultora', right_on='CodEbelista', how='inner')

In [39]:
len(maestro.Codigo_Consultora.unique())

14

In [14]:
fdf.to_csv('SB_Pedido_CLCO.csv')

In [ ]:
fdf = df[(df.Pais == 'CO') | (df.Pais == 'CL')]